<html !DOCTYPE>
    <head>
        <title>Timestamp Microservice</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <h1>Timestamp Microservice</h1>
        </header>
        <section>
            <form target="_blank" action="/api/timestamp/" method="GET">
                <label class="align">Give me a date e.g. "2016-11-20" or a number</label>
                <input class="align" type=text name=date>
                <input class="align" type="submit" value=Submit>
            </form>
        </section>
        <footer>

        </footer>
    </body>
</html>